ADMIN_PASSWORD=admin-password
MOD_AUTH_DB_DISPATCHER_PASSWORD=auth-db-dispatcher-password
MOD_AUTH_QUEUE_CONSUMER_PASSWORD=auth-queue-consumer-password
MOD_CONTRACT_DB_DISPATCHER_PASSWORD=contract-db-dispatcher-password
MOD_CONTRACT_QUEUE_CONSUMER_PASSWORD=contract-queue-consumer-password
MOD_USER_DB_DISPATCHER_PASSWORD=user-db-dispatcher-password
MOD_USER_QUEUE_CONSUMER_PASSWORD=user-queue-consumer-password

