export DOTNET_ENVIRONMENT='Development'

# Common
export USER_DB_HOST='localhost'
export USER_DB_PORT=5430
export USER_DB_NAME='user'
export USER_DB_USERNAME="admin"
export USER_DB_PASSWORD="admin-password"
export USER_DB="Host=${USER_DB_HOST};Port=${USER_DB_PORT};Database=${USER_DB_NAME};Username=${USER_DB_USERNAME};Password=${USER_DB_PASSWORD}"

export PROGRAM_DB_HOST='localhost'
export PROGRAM_DB_PORT=5431
export PROGRAM_DB_NAME='program'
export PROGRAM_DB_USERNAME="admin"
export PROGRAM_DB_PASSWORD="admin-password"
export PROGRAM_DB="Host=${PROGRAM_DB_HOST};Port=${PROGRAM_DB_PORT};Database=${PROGRAM_DB_NAME};Username=${PROGRAM_DB_USERNAME};Password=${PROGRAM_DB_PASSWORD}"

# App settings
export ConnectionStrings__UserDb="$USER_DB"
export ConnectionStrings__ProgramDb="$PROGRAM_DB"