export DOTNET_ENVIRONMENT='Development'

export USER_DB_HOST='localhost'
export USER_DB_PORT=5430
export USER_DB_NAME='user'
export USER_DB_USERNAME="admin"
export USER_DB_PASSWORD="admin-password"
export USER_DB="Host=${USER_DB_HOST};Port=${USER_DB_PORT};Database=${USER_DB_NAME};Username=${USER_DB_USERNAME};Password=${USER_DB_PASSWORD}"
export ConnectionStrings__UserDb="$USER_DB"
