export DOTNET_ENVIRONMENT='Development'

# Infrastructure
export CORE_BUS_HOST_PORT=3010
export CORE_BUS_DEFAULT_PASSWORD='default'
export CORE_BUS_PROGRAM_DB_DISPATCHER_PASSWORD='password'
export CORE_BUS_PROGRAM_QUEUE_CONSUMER_PASSWORD='password'
export CORE_BUS_USER_DB_DISPATCHER_PASSWORD='password'
export CORE_BUS_USER_QUEUE_CONSUMER_PASSWORD='password'

export PROGRAM_DB_HOST='localhost'
export PROGRAM_DB_HOST_PORT=3051
export PROGRAM_DB_NAME='program'
export PROGRAM_DB_USERNAME="admin"
export PROGRAM_DB_PASSWORD="admin"
export PROGRAM_DB="Host=${PROGRAM_DB_HOST};Port=${PROGRAM_DB_HOST_PORT};Database=${PROGRAM_DB_NAME};Username=${PROGRAM_DB_USERNAME};Password=${PROGRAM_DB_PASSWORD}"

export USER_DB_HOST='localhost'
export USER_DB_HOST_PORT=3052
export USER_DB_NAME='user'
export USER_DB_USERNAME="admin"
export USER_DB_PASSWORD="admin"
export USER_DB="Host=${USER_DB_HOST};Port=${USER_DB_HOST_PORT};Database=${USER_DB_NAME};Username=${USER_DB_USERNAME};Password=${USER_DB_PASSWORD}"

# Applications
## Keycloak
export KC_ADMIN=admin
export KC_ADMIN_PASSWORD=admin
export KC_DB_USERNAME=$USER_DB_USERNAME
export KC_DB_PASSWORD=$USER_DB_PASSWORD

# App settings
export ConnectionStrings__UserDb="$USER_DB"
export ConnectionStrings__ProgramDb="$PROGRAM_DB"